
pre {
  font-size: 150% !important;
}

div.processProgress hr {
 margin-top: 1em;
 margin-bottom: 1em;
 margin-left: 5em;
 margin-right: 5em;
 width: 50%;
 text-align: center;
}

div.processProgress p {
 margin-bottom: 0px !important;
}

div.formExecutor pre {
  font-size: 150%;
}

div.ubcoursefullwidth {
  width: 90% !important;
}

table.answerBlock {
   border: none;
   width: 100%;
   margin-bottom: 2em;
}

table.answerBlock td, table.answerBlock th {
  padding: 4px;
  text-align: center;
}

table.answerBlock td.question {
    width: 26%;
}

table.answerBlock .left {
  text-align: left;
}

table.answerBlock .right {
  text-align: right;
}

hr.blockSeparator {
    margin-top: 0.5em !important;
    margin-bottom: 1.5em !important;
}

h3.renderHeader {
  font-size: larger !important;
}

div.renderStatic {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 2.5em;
}

div.renderStatic span.title{
  font-weight: bolder;
}

div.renderImage div {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2.5em;
}

div.commentImage {
  padding-top: 1.5em;
  clear: both;
}

div.commentImage div.carouselImage {
  margin: 0px auto;
  border: 1px solid;
}

div.carouselNav {
  font-size: larger;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div.carouselNav div.left {
  float: left;
}

div.carouselNav div.right {
  float: right;
}

div.pcxHide {
  display: none;
}

a.mb, a:link.mb, a:visited.mb, a:hover.mb, a:active.mb {
    float: none;
}

div.formAdmin {
  margin: 1em;
  padding-bottom: 1em;
  width: 90%;
}

div.formAdmin div.formItem {
  margin-top: 1em;
}

div.formAdmin div.formItem label {
  float: left;
  width: 50%;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  padding-right: 0.5em;
  text-align: right;
}

div.formAdmin div.formSubmit {
  margin-top: 1em;
  text-align: center;
}

div.formAdmin select#modules {
  width: 100%;
  height: 60em;
}

table.questionSummary {
  border: none;
  border-collapse:collapse;
  width: 90%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

table.questionSummary td, table.questionSummary th {
  border: none;
  text-align: center;
}

table.questionSummary td.moduleName {
  width: 30%;
  text-align: left;
  padding-left: 0.5em;
}

table.questionSummary td.disclosed {
  font-weight: bolder;
}

table.questionSummary tr.questionAverage td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: bolder;
}

h3.questionSummary {
  padding-top: 1em;
  font-size: 110% !important;
}

ul.questionSummaryLegend {
  font-weight: bolder;
  margin-bottom: 0px;
}

div.popupBox {
  border: 5px solid;
  border-style: groove;
  background-color: #ffffff;
  visibility: hidden;
  display: none;
  position: absolute;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

div.ajaxLoader {
  margin-top: 100px;
  padding-top: 10px;
}

div.ajaxLoader p {
  padding: 0px !important;
}

div.ajaxImg {
  text-align: center;
  width: 610px;
  height: 420px;
  margin-top: 0em;
  margin-bottom: 1.5em;
}

div.ajaxImg img {
  float: none !important;
  padding-left: 5px;
}

div.ajaxImg ul {
  text-align: left;
  margin-bottom: 0px !important;
  list-style: none !important;
}

div.ajaxImg li {
  margin-bottom: 0.25em !important;
}
