ul.sys_children {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0px;
}

ul.sys_children li a {
  width: auto !important;
}

div.body div.leftcolumn {
  margin-bottom: 1em;
  padding-right: 0.5em;
  width: 47%;
  float: left;
}

div.body .bold {
  font-weight: bolder;
}

div.body div.rightcolumn {
  margin-bottom: 1em;
  padding-right: 0.5em;
  width: 47%;
  float: left;
}

div.body div.address {
  margin-bottom: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 4em;
  font-size: 100%;
  width: 40%;
  /*background-color: #ddd;
  color: rgb(85, 85, 85);*/
}

div.body div.leftcolumn div.address, div.body div.rightcolumn div.address {
  width: 80%;
}


.quoteright {
	font-family: "Times New Roman", Times, serif;
	font-size: 3em;
	width: 200pt;
	font-style: italic;
	color: #FF6600;
	background-color: inherit;
	top: 20px;
	float: right;
	clear: right;
	margin: 20px;
} 

.pullout {
	float: right;
	font-family: Arial, Helvetica, Georgia, sans-serif;
	font-size: 22px;
	line-height: 18px;
	text-align: right;
	height: 5em;
	margin-top: 10px;
	margin-left: 10px;
	clear: right;
	width: 150px;
	color:#999999;
	background-color: inherit;
}

.feature {
	float: right;
	font-size: 90%;
	width: 65%;
	margin-left:40px;
	padding: 20px;
	color:#111111;
	background-color: inherit;
	border-left-color: #333333;
	border-left-style: solid;
}
.feature span.first-letter {
	font-size:400%;
	text-transform: lowercase;
	float:left;
	line-height:0.8em;
	color:#6666CC;
	background-color: inherit;
}

.boxleft {
	width: 150px;
	float: left;
	color: inherit;
	background-color: #CCCCCC;
	margin-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	font-family: "Times New Roman", Times, serif;
	}

.imgright {
	margin: 20px;
	float: right;
	font-size: smaller;
}

div.figure {
  float: right;
  width: 30%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
div.figure p {
  text-align: center;
  font-style:italic;
  font-size: smaller;
  text-indent: 0;
}
img.scaled {
	width: 100%;
}
.cursive {
	font-family: "Comic Sans", "Comic Sans MS", cursive;
	font-size: x-large;
	color: #000066;
	background-color: inherit;
}
.handwriting {
	font-family: "Mistral", "Staccato222", "Lucida Handwriting", cursive;
	font-size: x-large;
	font-style: normal;
	color: #000066;
	background-color: inherit;
}
.watermark {
	font-family: "Times New Roman", Times, serif;
	font-size: 240px;
	font-style: italic;
	color: #DDDDDD;
	background-color: inherit;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: -99;
}

div.doubleelement {
	position : relative ;
	top : 0px;
	left : 0px ;
	font-family: "Times New Roman", Times, serif;
	float: left;
	margin-right: 10px;
	width: 200px;
	padding : 20px ;
}

div.doubleelement span.front{
	position:relative;
	top: 5px;
	left: 5px;
	color:#FF6600;
	background-color: inherit;
	font-size: 36px;
	z-index: -5;
	}
	
div.doubleelement span.back{
	position: absolute; 
	top : 0px ;
	left : 0px ;
	padding : 20px ;
	color:#999999;
	background-color: inherit;
	font-size:48px;
	font-style: italic;
	z-index : -10 ;
	}
	
div#wideContent dl, div#mainContent dl {
  font-size: 1.3em;
  line-height: 1.3em;
  color: #666;
}

div#wideContent dt, div#mainContent dt {
  padding-bottom: 0.2em;
}

div#wideContent dd, div#mainContent dd {
  padding-bottom: 0.8em;
}

div#wideContent div.RSSnews h2 a, div#mainContent div.RSSnews h2 a{
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #66A300;
}

div#search {
 float: right;
}

