
/* first bits set special options for fixed width pages */
div.ubcontent div.ubmain p,
div.ubcontent div.ubmain dl,
div.ubcontent div.ubmain h1,
div.ubcontent div.ubmain h2,
div.ubcontent div.ubmain h3,
div.ubcontent div.ubmain h4,
div.ubcontent div.ubmain h5,
div.ubcontent div.ubmain h6,
div.ubcontent div.ubmain table,
div.ubcontent div.ubmain div.address,
div.ubcontent div.ubmain div.floatleft
{
  padding-left: 15px;
  padding-right: 10px;
}

div.ubcontent div.ubmain dl dd {
  padding-bottom: 1em;
}

div.ubcontent div.ubmain h1,
div.ubcontent div.ubmain h2,
div.ubcontent div.ubmain h3 {
  padding-top: 0.8em;
  padding-bottom: 0.2em;
}

div.ubcontent div.ubmain div.address {
  margin-left: 15px;
}

div.ubcontent div.ubmain h1 {
  font-size: 120%;
}

div.ubcontent hr {
  border: 0px;
  color: rgb(183, 183, 183);
  background-color: rgb(183, 183, 183);
  height: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0px;
}

/* IMPORTANT: these *should* match div.body p in sys-header.css */

div.ubcontent div.ubmain h2,
div.ubcontent div.ubmain h3 {
  font-size: 97%;
}


/* below here are the containers */

div.ubcontent {
  /*width: 54em;*/
  /* width: 569 (ubwidth) + 20 (left padd) + 20 (right padd) + 4(box borders) +2(?) */
  /*width: 589px;*/
  margin-left: 14em;
  padding-left: 0px;
  padding-right: 0px !important;
  margin-right: 0px !important;
  font-size: 90%;
}

div.ubcontent p,
div.ubcontent ul,
div.ubcontent dl,
div.ubcontent table {
  font-size: 108% !important;
}

div.ubcontent div.ubbannerholder
{
  padding-left: 20px;
}

div.ubcontent div.ubmain {
  border: 1px solid rgb(183, 183, 183);
  margin-right: 0px;
  margin-left: 0px;
}

div.ubcontent div.ubmain {
  float: left;
  width: 423px;
}

div.ubcontent div.ubmain div.ubhighlight h2 {
  color: inherit;
  background-color: rgb(230, 230, 230);
  border-top: 1px solid rgb(183, 183, 183);
}

div.ubcontent div.ubcoursefullwidth h2 a{
  /* ensure links in headings are the correct colour */
  color: white;
}

div.ubcontent div.ubnav {
  width: 175px;
  float: left;
  margin-left: 0px;
  border-bottom: 1px solid rgb(183, 183, 183);
}

div.ubcontent div.ubnav div.ubitem {
  padding: 1px;
  border-right: 1px solid rgb(183, 183, 183);
  border-top: 1px solid rgb(183, 183, 183);
}

div.ubcontent div.ubnav div.ubitem img {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div.ubcontent div.ubnav div.ubitem p {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgb(230, 230, 230);
  color: inherit;
}

div.ubcontent div.ubnav div.ubitem p,
div.ubcontent div.ubnav div.ubitem h2 {
  padding-left: 10px;
}

div.ubcontent div.ubnav div.ubitem h2 {
  font-size: 95%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.6em;
  padding-bottom: 0.5em;
}

div.ubcontent div.ubnav div.ubitem h2 a {
  text-decoration: none;
}


/* RSS News channel styles */

div.RSSnews div.important,
div.RSSnews div.important h2 {
  color: red;
}

