
div.ubcontent div.ubcoursefullwidth {
  border: 1px solid rgb(183, 183, 183);
  margin-left: 0px;
  margin-bottom: 2px;
  width: 613px;
}

div.ubcontent div.ubcoursefullwidth div.ubcourseheader {
  border-top: 1px solid rgb(183, 183, 183);
  height: 123px;
  background-color: rgb(230, 230, 230);
  color: inherit;
}

div.ubcontent div.ubcoursefullwidth h3,
div.ubcontent div.ubcoursefullwidth h4,
div.ubcontent div.ubcoursefullwidth h5,
div.ubcontent div.ubcoursefullwidth h6 {
  background-color: inherit;
  color: rgb(85, 85, 85);
}

/*  ... this looks silly in bold (IMHO)
div.ubcontent div.ubcoursefullwidth h1 {
  font-weight: bolder !important;
}
*/

div.ubcontent div.ubcoursefullwidth h1,
div.ubcontent div.ubcoursefullwidth h2,
div.ubcontent div.ubcoursefullwidth h3,
div.ubcontent div.ubcoursefullwidth h4,
div.ubcontent div.ubcoursefullwidth h5,
div.ubcontent div.ubcoursefullwidth h6,
div.ubcontent div.ubcoursefullwidth dl,
div.ubcontent div.ubcoursefullwidth table,
div.ubcontent div.ubcoursefullwidth p {
  padding-left: 2em;
  padding-right: 2em;
}

div.ubcontent div.ubcoursefullwidth div.scholarship {
  float: left;
  border: 1px dashed;
  width: 45%;
  margin-left: 2em;
  margin-top: 0px;
  margin-right: 1em;
  margin-bottom: 0.5em;
  padding-right: 0.5em;
}

div.ubcontent div.ubcoursefullwidth div.ubcourseheader p {
  margin: 0px;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 150px;
  padding-right: 10px;
}

div.ubcontent div.ubcoursefullwidth div.ubcourseheader img {
  border: 1px solid white;
  float: left;
}

div.ubcontent div.ubcoursefullwidth div.ubcourseline {
  font-size: 3pt;
  background-color: rgb(85, 85, 85);
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

div.ubcontent div.ubcoursefullwidth h1 {
  background-color: inherit;
  font-weight: bolder;
  color: white;
  font-size: 150%;
  margin: 1px;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 15px;
}

div.ubcontent div.ubcoursefullwidth h2 {
  background-color: rgb(85, 85, 85);
  font-weight: bolder;
  color: white;
  font-size: 130%;
  margin: 1px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 15px;
}

div.ubcontent div.ubcourseblock {
  width: 360px;
  float: left;
  border: 1px solid rgb(183, 183, 183);
  padding-top: 0px;
  margin-left: 0px;
}

div.ubcontent div.ubcourseblock h1,
div.ubcontent div.ubcourseblock h2,
div.ubcontent div.ubcourseblock h3,
div.ubcontent div.ubcourseblock h4,
div.ubcontent div.ubcourseblock h5,
div.ubcontent div.ubcourseblock h6,
div.ubcontent div.ubcourseblock dl,
div.ubcontent div.ubcourseblock p {
  padding-left: 15px;
  padding-right: 10px;
}

div.ubcontent div.ubcourseblock h2.ubcoursehighlight,
div.ubcontent div.ubcourseblockright h2.ubcoursehighlight {
  color: white;
  background-color: rgb(120, 120, 120);
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  margin-bottom: 0px;
}

div.ubcontent div.ubcourseblock ol,
div.ubcontent div.ubcourseblock div.ubcoursehighlight {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 1px;
}

div.ubcontent div.ubcourseblock div.ubcoursehighlight {
  color: inherit;
  background-color: rgb(240, 245, 230);
}

div.ubcontent div.ubcourseblockright {
  float: left;
  border-bottom: 1px solid rgb(183, 183, 183);
  border-right: 1px solid rgb(183, 183, 183);
  border-top: 1px solid rgb(183, 183, 183);
  width: 252px;
}


div.ubcontent div.ubcourseblockright a,
div.ubcontent div.ubcourseblockright a:visited,
div.ubcontent div.ubcourseblockright a:link,
div.ubcontent div.ubcourseblockright h3 {
  /*color: rgb(118,130,30);*/
  color: rgb(205, 0, 103);
  background-color: inherit;
}

div.ubcontent div.ubcourseblockright a,
div.ubcontent div.ubcourseblockright a:visited,
div.ubcontent div.ubcourseblockright a:link {
  font-weight: bolder;
}

div.ubcontent div.ubcourseblockright h3 {
  font-size: 98%;
}

div.ubcontent div.ubcourseblockright div.ubcoursehighlight {
  padding-top: 0px;
  padding-bottom: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: inherit;
  background-color: rgb(231, 232, 212);
}

div.ubcontent div.ubcourseblockright div.ubcoursehighlight p {
  margin: 0px;
  padding-top: 1em;
}

div.ubcontent div.ubcourseblockright h2.ubcoursehighlight,
div.ubcontent div.ubcourseblockright h3,
div.ubcontent div.ubcourseblockright p {
  padding-left: 8px;
}

div.ubcontent div.ubcourseblockright h2.ubcoursehighlight {
  margin: 1px;
}

div.ubcontent ul.facts
{
  margin-left: 0px;
  padding-left: 2em;
}

div.ubcontent ul.facts li
{
  list-style-type: none;
}

div.ubcontent div.ubcoursefullwidth img
{
  float: left;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

div.ubcontent div.ubcoursefullwidth div.floatright img
{
  padding: 1px;
}
