html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(195, 205, 218);
    /*
    background-image: url("/images/background.gif");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    */
}

/**
 * Bootstrap fix
 * Enables navbar collapse at small sizes in addition to default extra small
 */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-brand {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        overflow: scroll;
    }
    .navbar-collapse.collapse {
        /*display: none!important;*/
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/**
 * Only show navbar-brand at XS
 */
.navbar-brand img {
    height: 32px;
    display: none;
}

@media(max-width: 767px) {
    .navbar-brand img {
        display: inline;
    }
}

/**
 * Increase padding when navbar present
 * Change to 767 for only XS
 * Change to 991 for XS and SM
 */
@media(max-width: 991px) {
    body {
        padding-top: 50px;
    }
}

.list-group .list-header {
    background-color: rgb(245, 245, 245);
    color: rgb(102, 102, 153);
}

div.outer {
    /*min-height: 100%;*/
    min-height: 700px;
    background-color: #ffffff;
    padding: 0 20px;
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.7);
    /*min-height: 652px;*/
}

div.page-top {
    padding: 0;
    border-top: 3px solid rgb(102, 163, 0);
}

div.page-top img {
    padding: 20px 15px;
}

div.page-main {
    padding: 0 0 20px 0;
}

div#sidebar {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 10px;
    font-family: Georgia, 'Times new Roman', serif;
    font-size: 28px;
    color: #66A300;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #66A300;
    clear: both;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

a {
    color: #990066;
}

a:hover {
    color: #66A300;
}

div#footer {
    color: rgb(102, 102, 102);
    padding: 10px 10px;
    /*
    margin-top: 10px;
    width: 975px;
    background-image: url("/images/bgfooter.gif");
    background-color: transparent;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: center top;
    */
}

.footer-copyright {
    float: left;
}

.footer-links {
    float: right;
    color: rgb(153, 0, 102);
}

.footer-links a {
    color: rgb(153, 0, 102);
}

.footer-delivered-by {
    float: left;
    clear: both;
    text-align: center;
    width: 100%;
    padding: 5px;
}

div#content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #666666;
}

a {
    color: #990066;
}

div#markdown-editor {
    display: none;
}

div#markdown-content s img,
div#wmd-preview s img {
    float: right;
    margin: 20px;
}

div#markdown-content s s img
div#wmd-preview s s img {
    float: left;
    margin: 20px;
}

div#markdown-content br
div#wmd-preview br {
    clear: both;
}

button#markdown-edit-button {
    width: 100%;
}

button#markdown-edit-save-button,
button#markdown-edit-cancel-button {
    margin: 5px;
}


.homepage-tile {
    /*height: 210px;*/
    margin: 5px 0 0 0;
    padding: 0;
}

.homepage-tile img {
    margin: 0 auto;
}

.homepage-tile-content {
    margin: 5px;
    background-color: #F3F5F7;
    height: 100%;
    border-top: 1px solid #CCCCCC;
    padding: 11px;
}

.homepage-tile-content h3 {
    padding: 0;
    margin: 0;
}

.homepage-tile-content h3 a {
    text-decoration: none;
    color: #990066;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
}

.cycle-slideshow {
    position: relative;
    border-top: 3px solid rgb(102, 163, 0);
    /*height: 249px;
    width: 690px;*/
    height: 231px;
    width: 641px;
    margin-left: 15px;
}


.cycle-slide {
    position: relative;
    display: none;
}

.cycle-slide.first {
    display: block;
}

.cycle-slide img {
    position: relative;
    height: 231px;
    width: 641px;
}

/**
 * Increase width when on widescreen
 * Disabled in restrict-width stylesheet
 */
@media(min-width: 1200px) {
    .cycle-slideshow,
    .cycle-slideshow img {
        height: 284px;
        width: 788px;
    }
}

.cycle-slide h2 {
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    padding: 10px;
    margin: 0;
    color: white;
    font-size: 28px;
}

.cycle-arrow,
.cycle-arrow:visited,
.cycle-arrow:hover,
.cycle-arrow:focus,
.cycle-arrow:active {
    padding: 0;
    margin: 0;
    z-index: 101;
    position: absolute;
    bottom: 0;
    background-color: #66A300;
    height: 30x;
    width: 20px;
    color: #B3D180;
    font-size: 20px;
    vertical-align: bottom;
}

.cycle-prev {
    right: 20px;
}

.cycle-next {
    right: 0;
}

/**
 * Search Box
 */
.navbar-form {
    margin-top: 32px;
    height: 30px;
    width: 234px;
    font-size: 12px;
    display: inline-table;
}

.navbar-form .input-group {
    height: 30px;
}

.navbar-form button {
    font-size: 12px;
    height: 30px;
}

#srch-term {
    background: rgb(229, 233, 238);
    height: 30px;
}

div.header .btn-default {
    text-shadow: 0 1px 0 rgb(100, 100, 100);
    background-image: none;
    background-color: rgb(102, 163, 0);
    color: white;
}


/**
 * Breadcrumb
 */
.breadcrumb {
    color: #666666;
    background: none;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
    margin-bottom: 10px;
}

.breadcrumb a {
    color: #666666;
}

/**
 * Sidebar
 */

#nav {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding: 0;
}

#nav .list-group {
    background-color: #F3F5F7;
}

#nav .list-group-item {
    outline: none;
    border: none;
    line-height: 1;
}

#nav .list-group-item:focus {
    -moz-outline-style: none;
}

#nav .list-group-item {
    background: url("/sys/trifecta/images/navbullet.gif") no-repeat scroll 10px 13px transparent;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 25px
}

#nav .list-group-item.active {
    text-shadow: none;
    color: rgb(51,51,51);
    background-color: white;
    border: 1px solid #CCC;
}

#nav .list-header {
    border: 1px solid #CCCCCC;
    margin-bottom: 0;
    background: #FFFFFF;
}

#nav .list-group-subitem {
    background: white;
    border-top: 1px solid #DDDDDD;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#nav .list-group-item:last-child {
    border-bottom: none;
}

/**
 * Homepage feeds
 */
.homepage-feed {
    font-size: 12px;
    padding: 11px;
    margin-top: 10px;
    background: rgb(243, 245, 247);
    border-top: 1px solid rgb(204, 204, 204);
}

.homepage-feed h3,
.homepage-feed h4 {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.homepage-feed h3 {
    font-size: 15px;
    margin-bottom: 7px;
}

.homepage-feed h4 {
    font-size: 12px;
}

/**
 * Navbar
 */
.navbar-header {

}

#socs-debug-modal {
    display: none;
}

#socs-debug-modal .modal-dialog {
    width: 70%;
}

.row-offcanvas {
    margin: 0;
}

@media screen and (max-width: 767px) {

    div.outer {
        padding: 0;
    }

    .row-offcanvas {
        position: relative;
        padding: 0;
        margin: 0;
        left: 0;
        -webkit-transition: left .3s ease-in-out;
           -moz-transition: left .3s ease-in-out;
             -o-transition: left .3s ease-in-out;
                transition: left .3s ease-in-out;
    }

    .sidebar-offcanvas {
        background: white;
        left: -80%;
        width: 80%;
        position: absolute;
        top: 0;
        padding-top: 10px;
        height: 100%;
        border-right: 2px solid #c7c7c7;
        box-shadow: 3px 0 0 0 rgba(200,200,200, 0.1);
    }

    .sidebar-offcanvas .list-header {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-right: 0;
    }

    .row-offcanvas.active {
        left: 80%;
    }

}

@media screen and (max-width: 991px) and (min-width: 768px)  {

    .row-offcanvas {
        position: relative;
        padding: 0;
        margin: 0;
        left: 0;
    }

    .sidebar-offcanvas {
        background: white;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
        -webkit-transition: width .3s ease-in-out;
           -moz-transition: width .3s ease-in-out;
             -o-transition: width .3s ease-in-out;
                transition: width .3s ease-in-out;
        border-right: 2px solid #c7c7c7;
        box-shadow: 3px 0 0 0 rgba(200,200,200, 0.1);
    }

    .sidebar-offcanvas .list-header {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-right: 0;
    }

    .row-offcanvas.active .sidebar-offcanvas {
        width: 40%;
        -webkit-transition: width .3s ease-in-out;
           -moz-transition: width .3s ease-in-out;
             -o-transition: width .3s ease-in-out;
                transition: width .3s ease-in-out;
    }

}

.related-links {
    float: right;
    width: 200px;
    margin-top: 60px;
    background-color: #f3f5f7;
    border-top: 1px solid #ccc;
    padding: 0 10px;
}

.related-links h4 {
    font-family: "Georgia","Times new Roman";
    color: #333;
}

.related-links ul {
    list-style-type: none;
    padding-left: 0;
}

.related-links ul li {
    border-bottom: 1px solid #ccc;
    padding: 8px 5px;
}

.cookie-notice {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: rgba(86, 86, 86, 0.85);
    height: 40px;
    padding: 10px 0;
    color: white;
    font-size: 13px;
    font-weight: 700;
    z-index: 10000;
}

.bibliography-year .year {
    cursor: pointer;
    padding: 10px;
    background: #F3F5F7;
    border: 1px solid white;
}

.bibliography-year .year:hover {
    border: 1px solid lightgray;
}

.bibliography-year .year span {
    margin-right: 5px;
}

.bibliography-year .abstract {
    display: none;
    border-left: 2px solid lightgray;
    padding-left: 5px;
    margin-left: 5px;
}

.rss-feed > .title {
    font-size: 18px;
}

.rss-feed .feed-item {
    border-top: 1px solid #DDDDDD;
}

.rss-feed .feed-item > .title {
    font-size: 12px;
}

.rss-feed .feed-item > .vevent > .summary {
    line-height: 18px;
}

.rss-feed .feed-item > .vevent > .summary > a {
    font-size: 18px;
}

.figure {
    text-align: center;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #F3F5F7;
    width: 1px;
    display: table;
}

.figure > img {
    margin: 5px;
    display: table-cell;
}

.figure > figcaption {
    display: table-row;
}

.figure-left {
    float: left;
    margin: 10px 10px 10px 0;
}

.figure-right {
    float: right;
    margin: 10px 0 10px 10px;
}

/** Patches fancyBox thumbnail opacity to be solid **/
#fancybox-thumbs ul li {
    opacity: 1 !important;
}
