h1 {
    text-align: center;
}

form.gklogin {
    margin: 0px auto;
    width: 40%;
}

form.gklogin div.formitem {
    padding: 0.5em;
}

form.gklogin div.formbutton {
    padding: 0.5em;
    text-align: center;
    font-weight: bolder;
}

form.gklogin label {
    width: 7em;
    float: left;
    text-align: right;
    padding-right: 0.5em;
    padding-top: 0.25em;
}

div.cookie-note table {
    border: 2px solid #666;
    border-collapse: collapse;
    margin: 2em;
}

div.cookie-note table td,
div.cookie-note table th {
    border: 2px solid #666;
    padding: 3px 8px;
}

div.messages, 
div.relogin {
    font-size: 110%;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

div.gklogout {
    margin-top: 1em;
    text-align: center;
}
