@media(min-width: 992px) {
    .outer, #footer {
        width: 975px;
    }
}

@media(min-width: 1200px) {
    .cycle-slideshow,
    .cycle-slideshow img {
        height: 231px;
        width: 641px;
    }
}
