<a href="#/" ng-click="logout()" href="#/gatekeeper">Logout</a>

<h1>School of Computer Science - Student List</h1>

<!--
<div id="content">
  <div id="breadcrumbs">
	<a class="sys_0 sys_t3000" href="/">Computer Science</a>&nbsp;/&nbsp;<a href="/internal" class="sys_0 sys_t166">Internal</a>&nbsp;/&nbsp;<a href="/internal/courses" class="sys_0 sys_t166">Courses</a>&nbsp;/&nbsp;<span>My Student List</span> -->
        <div class="col-xs-12 page-main">
                <ol class="breadcrumb hidden-xs col-sm-12">
                    <li><a href="#/">School of Computer Science</a></li>
                    <li><a href="#/taught">Internal Information</a></li>
					<li class="active">Student list</li>'
                </ol>
                <div id="nav" class="col-md-3 sidebar-offcanvas hidden-sm" role="navigation">
                    <div class="list-group">
                        <a class="list-group-item list-header" href="#/taught">Internal Information</a>
                        <a class="list-group-item " href="#/taught">My subjects taught</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9" id="content">

</br>
Search: <input ng-model="search_student"></input>
<table class="table">
  <tr>
	<td>id</td>
	<td>subject taught</td>
	<td>student name</td>
	<td>grade</td>
  </tr>
  <tr ng-repeat="enroll in enrolls | filter:search_student">
	<td>{{enroll.id}}</td>
	<td>{{enroll.subject_name}}</td>
	<td>{{enroll.first_name}}</td>
	<td>{{enroll.grades}} </td>
  </tr>
</table>
  </div>
</div>
