            <h1>School of Computer Science</h1>
			<h1>Gatekeeper Login</h1>

			<div class="messages alert alert-success" ng-show="incorretCredentials" id="inc_cred">
			  Login failed! Either the username is invalid or the password is incorrect.
			</div>
			
			<div ng-show="!isAuthenticated">
			  <h2>Authentication required for: SoCS Form Scanning Service</h2>
			  <p>The page you are trying to access is a protected resource and requires authentication. 
				You are being asked to enter your <em>Computer Science (SOCS-AD)</em> username and password.</p>
			  <hr>
			</div>
			
			<div class="authform" ng-controller="loginCtl">
			  <h2>Computer Science (SOCS-AD) login:</h2>
			  <p>
				By logging in, you are accepting the use of session cookies from this site. 
				This cookie is essential for the authorisation of access to protected resources. 
				Please see the notes below for more details.
			  </p>
			  
			  <form class="gklogin" ng-submit="vm.login()" role="form">
				
				<div class="formitem">
				  <label for="user">Username:</label>
				  <input name="user" size="20" ng-model="vm.username">
				</div>
				
				<div class="formitem">
				  <label for="password">Password:</label>
				  <input name="password" value="" size="20" type="password" ng-model="vm.password">
				</div>
				
				
				<!--<input name="redirector" value="http://www.cs.bham.ac.uk/internal/courses/questionnaires/" type="hidden">
				<input name="domain" value="SOCS-AD" type="hidden">-->
				
				<div class="formbutton">
				  <input name="action" value="Log in" type="submit">
				</div>
			  </form>
			</div>
			
			<div class="cookie-note">
			  <h2>Note on Cookies:</h2>
			  
			  <p>Please note that this site uses sessions cookies.</p>
			  
			  <p>
				The cookie is set so that your browser should only pass the cookie to other sites within the bham.ac.uk domain.
				The cookie contains details of your username, fullname, client IP address, and the location of your Active Directory
				object. It may also contain the value of your email address retrieved from the University's Active Directory.
				Once the cookie is set, this information is available to other web-servers and applications running on those servers
				which are running within the bham.ac.uk.
			  </p>
			  
			  <p>
				Some of the data contained in the cookie is used to authenticate and authorise access to web-pages and
				may be combined with group membership to determine authorisation to resources. The validity of the data may be
				verified on each page request to a protected resource.
			  </p>
			  
			  <p>
				As the site uses session cookies, the cookie should be destroyed by your browser when you close the browser
				application. The cookie will also expire after 8 hours if your browser is left running.
			  </p>
			  
			  <table>
				<thead>
				  <tr>
					<th>Cookie Name</th>
					<th>Cookie Description</th>
					<th>Cookie Classification</th>
					<th>Cookie Behaviour</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>SoCS::GateKeeper::SOCS-AD</td>
					<td>
					  Stores information to authenticate and authorise a user when accessing web-pages.
					  Provides data to allow the page information to be user specific.
					</td>
					<td>Strictly necessary cookie, Functionality cookie</td>
					<td>Session cookie - disappears when the user closes the browser, cookie expires after 8 hours.</td>
				  </tr>
				  <tr>
					<td>SoCS::GateKeeper::ADF</td>
					<td>
					  Stores information to authenticate and authorise a user when accessing web-pages.
					  Provides data to allow the page information to be user specific.
					</td>
					<td>Strictly necessary cookie, Functionality cookie</td>
					<td>Session cookie - disappears when the user closes the browser, cookie expires after 8 hours.</td>
				  </tr>
				</tbody>
			  </table>
			  
			  <p>
				The <a href="http://www.birmingham.ac.uk/privacy/cookies.aspx">University Cookie policy and information</a>
				is available on the main University website.
			  </p>
			</div>
