<a ng-click="logout()" href="#/gatekeeper">Logout</a>

<h1>School of Computer Science - Subjects taught</h1>


<!--<div id="content">
  <div id="breadcrumbs">
	<a class="sys_0 sys_t3000" href="/">Computer Science</a>&nbsp;/&nbsp;<a href="/internal" class="sys_0 sys_t166">Internal</a>&nbsp;/&nbsp;<a href="/internal/courses" class="sys_0 sys_t166">Courses</a>&nbsp;/&nbsp;<span>My Subjects taught</span>
</br>
-->
        <div class="col-xs-12 page-main">
                <ol class="breadcrumb hidden-xs col-sm-12">
                    <li><a href="/">School of Computer Science</a></li>
                    <li class="active">Internal Information</li>
                </ol>
                <div id="nav" class="col-md-3 sidebar-offcanvas hidden-sm" role="navigation">
                    <div class="list-group">
                        <a class="list-group-item list-header" href="#/taught">Internal Information</a>
                        <a class="list-group-item " href="#/taught">My subjects taught</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9" id="content">

	  <table class="table">
		<tr>
		  <td>id</td>
		  <td>subject name</td>
		  <td>professor responsable</td>
		</tr>
		<tr ng-repeat="sbj in subjectList">
		  <td>{{sbj.id}}</td>
		  <td>{{sbj.subject_name}}</td>
		  <td>{{sbj.username}}</td>
		  <td> Edit </td>
		  <td> <a ng-click="seeStudents(sbj.id)">See</a> </td>
		</tr>
	  </table>
  </div>
</div>

		
