<html ng-app="SoCS">
  <head>
	<title></title>
	 <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="userList">
	<div class="container">
	  <table class="table">
		<tr>
		  <td>id</td>
		  <td>username</td>
		  <td>password</td>
		</tr>
		<tr ng-repeat="user in userList">
		  <td>{{user.id}}</td>
		  <td>{{user.username}}</td>
		  <td>{{user.password}}</td>
		</tr>
	  </table>
	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
	<script src="js/app.js"></script>
  </body>
</html>
